{% extends "UPONDOrthophonieBundle::layout.html.twig" %}

{% block title %}
    Phase d'apprentissage - {{ parent() }}
{% endblock %}

{% block orthophonie_body %}

    <h2>Veuillez choisir une stratégie</h2>


{% endblock %}