

{% extends "UPONDOrthophonieBundle::layout.html.twig" %}

{% block title %}
    Statistique - {{ parent() }}
{% endblock %}

{% block orthophonie_body %}

    <h1>Gestion des exercices</h1>


{% endblock %}